extends _layout/layout

block variables
	- var title = 'About'
	- var description = 'Description for about page'
	- var bodyclass = 'about'

block body
	section.about
		.container
			.row
				.col
					h1.mt-4 About Page

