extends _layout/layout

block variables
	- var title = 'Home'
	- var description = 'Description for home page'
	- var bodyclass = 'home'

block body
	section.home-slider
		.container
			.row
				.col
					h1 lo
					p
						a(href="#").btn.btn-more dfdfdf
	section.home-team
		.container
			.row
				.col
					h2 amsmjs lklsak
					p lo
			.row
				.col-md-3.col-sm-6
					figure
						img.img-fluid(src="./img/home_avt1.png", alt="home_avt1", srcset="")
						h2 ksdkasj kjsd;lkjsa
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam perspiciatis fugiat ea quaerat assumenda nihil, voluptatibus beatae maxime delectus nobis explicabo dolore commodi, quo laudantium, neque perferendis accusantium omnis aliquam?
					ul.list-inline
						li.list-inline-item
							a.fa.fa-facebook
						li.list-inline-item
							a.fa.fa-youtube
						li.list-inline-item
							a.fa.fa-twitter
						li.list-inline-item
							a.fa.fa-envelope
				.col-md-3.col-sm-6
					figure
						img.img-fluid(src="./img/home_avt1.png", alt="home_avt1", srcset="")
						h2 ksdkasj kjsd;lkjsa
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam perspiciatis fugiat ea quaerat assumenda nihil, voluptatibus beatae maxime delectus nobis explicabo dolore commodi, quo laudantium, neque perferendis accusantium omnis aliquam?
					ul.list-inline
						li.list-inline-item
							a.fa.fa-facebook
						li.list-inline-item
							a.fa.fa-youtube
						li.list-inline-item
							a.fa.fa-twitter
						li.list-inline-item
							a.fa.fa-envelope
				.col-md-3.col-sm-6
					figure
						img.img-fluid(src="./img/home_avt1.png", alt="home_avt1", srcset="")
						h2 ksdkasj kjsd;lkjsa
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam perspiciatis fugiat ea quaerat assumenda nihil, voluptatibus beatae maxime delectus nobis explicabo dolore commodi, quo laudantium, neque perferendis accusantium omnis aliquam?
					ul.list-inline
						li.list-inline-item
							a.fa.fa-facebook
						li.list-inline-item
							a.fa.fa-youtube
						li.list-inline-item
							a.fa.fa-twitter
						li.list-inline-item
							a.fa.fa-envelope
				.col-md-3.col-sm-6
					figure
						img.img-fluid(src="./img/home_avt1.png", alt="home_avt1", srcset="")
						h2 ksdkasj kjsd;lkjsa
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam perspiciatis fugiat ea quaerat assumenda nihil, voluptatibus beatae maxime delectus nobis explicabo dolore commodi, quo laudantium, neque perferendis accusantium omnis aliquam?
					ul.list-inline
						li.list-inline-item
							a.fa.fa-facebook
						li.list-inline-item
							a.fa.fa-youtube
						li.list-inline-item
							a.fa.fa-twitter
						li.list-inline-item
							a.fa.fa-envelope
						

